body {
    margin: 10px;
    user-select: none;
    -webkit-user-drag: none;
}
header {
    background-color: #ff7f00;
    text-align: center;
    padding: 30px;
    font-size: 32px;
    border-radius: 15px;
    margin-bottom: 10px;
}
nav {
    background-color: #7cd444;
    border-radius: 15px;
    padding: 20px;
}
nav a:hover {
    background-color: #8aeb4b;
}
.material-symbols-rounded {
    color: #3a4ec6;
    user-select: none;
}
.material-symbols-rounded:hover {
    color: #4057dc;
}
input {
    padding: 6px 12px;
    border-radius: 10px;
    background-color: #3a4ec6;
    transition: background-color .5s ease;
}
input:focus {
    background-color:  #4057dc;
}
@media screen and (min-width: 1000px) {
    main {
        display: flex;
        height: calc(100vh - 130px)
    }
    nav {
        flex: 2;
        margin-right: 10px;
    } 
    article {
        flex: 7;
    }
    nav > a {
        display: block;
        margin-bottom: 7px;
    }
}
@media screen and (max-width: 999px) {
    nav {
        text-align: center;
        position: fixed;
        bottom: 10px;
        width: calc(100vw - 60px);
    }
    nav > a {
        margin: 0 7px;
    }
    article {
        height: calc(100vh - 170px);
    }
}
::selection {
    background-color: #12130F;
    color: #F7F7F2;
}