input {
    margin: 10px auto;
    padding: 10px;
    display: inline-block;
}
input[type="text"] {
    max-width: calc(20vw - 23.2px);
    width: calc(20vw - 23.2px);
}
span#showBtn:hover {
    cursor: pointer;
}
form {
    display: block;
    text-align: center;
}
div.passLabel {
    display: flex;
    max-width: 20vw;
    max-width: 20vw;
    margin: auto;
}
div > input {
    flex: 17;
    width: 100%;
}
span#showBtn {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    text-align: center;
}
aside {
    display: flex;
    border: 2px solid black;
    width: 17vw;
    height: 24px;
    margin: auto;
    border-radius: 5px;
}
aside > #progressMade {
    background-color: #7cd444;
}
::placeholder {
    color: #12130F;
}
label.typeLb {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 15vh 10px 5vh 10px;
    border-radius: 20px;
    transition: .6s;
    padding: 10px;
}
input[type="radio"] {
    display: none;
}
label.typeLb:has(input[type="radio"]:checked) {
    transform: scale(1.1);
}
img {
    width: 150px;
    height: 150px;
}
.rdCnt {
    display: flex;
    justify-content: center;
}
.terms {
    height: 350px;
    width: 400px;
    margin: 10vh auto 0;
    border: #12130F solid 1px;
    overflow: auto;
    padding: 10px;
    text-align: left;
}
.agree {
   text-align: center;
}
.info {
    display: inline;
}